<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>clang_version</key>
<string>Apple LLVM version 7.0.2 (clang-700.1.81)</string>
 <key>files</key>
 <array>
  <string>/Users/michael/PluginDev/wdl-ol-michaeldonovan/WDL/IPlug/IBitmapMonoText.cpp</string>
  <string>/Users/michael/PluginDev/wdl-ol-michaeldonovan/IPlugExamples/EECS352-Multiband-Distortion-Plugin/../../WDL/IPlug/../wdlstring.h</string>
 </array>
 <key>diagnostics</key>
 <array>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>15</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>15</integer>
           <key>col</key><integer>20</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>15</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>15</integer>
           <key>col</key><integer>20</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>15</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>15</integer>
           <key>col</key><integer>20</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>15</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>15</integer>
           <key>col</key><integer>20</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>15</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>15</integer>
           <key>col</key><integer>20</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>17</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>17</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>17</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>17</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>19</integer>
           <key>col</key><integer>23</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>19</integer>
           <key>col</key><integer>34</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>19</integer>
      <key>col</key><integer>23</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>19</integer>
         <key>col</key><integer>23</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>19</integer>
         <key>col</key><integer>34</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>&apos;basicXOffset&apos; declared without an initial value</string>
     <key>message</key>
     <string>&apos;basicXOffset&apos; declared without an initial value</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>19</integer>
           <key>col</key><integer>23</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>19</integer>
           <key>col</key><integer>34</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>21</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>21</integer>
           <key>col</key><integer>6</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>21</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>21</integer>
           <key>col</key><integer>6</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>21</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>21</integer>
           <key>col</key><integer>15</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>21</integer>
      <key>col</key><integer>9</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>21</integer>
         <key>col</key><integer>9</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>21</integer>
         <key>col</key><integer>15</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Assuming &apos;vCenter&apos; is 0</string>
     <key>message</key>
     <string>Assuming &apos;vCenter&apos; is 0</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>21</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>21</integer>
           <key>col</key><integer>15</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>24</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>24</integer>
           <key>col</key><integer>18</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>24</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>24</integer>
           <key>col</key><integer>18</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>26</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>26</integer>
           <key>col</key><integer>6</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>26</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>26</integer>
           <key>col</key><integer>6</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>28</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>28</integer>
           <key>col</key><integer>11</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>28</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>28</integer>
           <key>col</key><integer>11</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>30</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>30</integer>
           <key>col</key><integer>11</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>30</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>30</integer>
           <key>col</key><integer>11</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>33</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>33</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>33</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>33</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>40</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>40</integer>
           <key>col</key><integer>6</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>40</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>40</integer>
           <key>col</key><integer>6</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>40</integer>
           <key>col</key><integer>8</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>40</integer>
           <key>col</key><integer>16</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>40</integer>
      <key>col</key><integer>8</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>40</integer>
         <key>col</key><integer>8</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>40</integer>
         <key>col</key><integer>16</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Assuming &apos;multiline&apos; is 0</string>
     <key>message</key>
     <string>Assuming &apos;multiline&apos; is 0</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>40</integer>
           <key>col</key><integer>8</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>40</integer>
           <key>col</key><integer>16</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>55</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>55</integer>
           <key>col</key><integer>27</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>55</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>55</integer>
           <key>col</key><integer>27</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>56</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>56</integer>
           <key>col</key><integer>12</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>56</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>56</integer>
           <key>col</key><integer>12</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>59</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>59</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>59</integer>
      <key>col</key><integer>21</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>59</integer>
         <key>col</key><integer>21</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>59</integer>
         <key>col</key><integer>31</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Entering loop body</string>
     <key>message</key>
     <string>Entering loop body</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>59</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>59</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>61</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>61</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>61</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>61</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>63</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>63</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>63</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>63</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>63</integer>
           <key>col</key><integer>26</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>63</integer>
           <key>col</key><integer>32</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>63</integer>
      <key>col</key><integer>26</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>63</integer>
         <key>col</key><integer>26</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>63</integer>
         <key>col</key><integer>54</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Assuming &apos;linepos&apos; is &lt; &apos;nCharsThatFitIntoLine&apos;</string>
     <key>message</key>
     <string>Assuming &apos;linepos&apos; is &lt; &apos;nCharsThatFitIntoLine&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>63</integer>
      <key>col</key><integer>26</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>63</integer>
         <key>col</key><integer>26</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>63</integer>
         <key>col</key><integer>54</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Entering loop body</string>
     <key>message</key>
     <string>Entering loop body</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>63</integer>
           <key>col</key><integer>26</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>63</integer>
           <key>col</key><integer>32</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>65</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>65</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>65</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>65</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>67</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>67</integer>
           <key>col</key><integer>11</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>67</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>67</integer>
           <key>col</key><integer>11</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>69</integer>
           <key>col</key><integer>60</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>69</integer>
           <key>col</key><integer>60</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>69</integer>
      <key>col</key><integer>60</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>69</integer>
         <key>col</key><integer>62</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>69</integer>
         <key>col</key><integer>73</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>The right operand of &apos;+&apos; is a garbage value</string>
     <key>message</key>
     <string>The right operand of &apos;+&apos; is a garbage value</string>
    </dict>
   </array>
   <key>description</key><string>The right operand of &apos;+&apos; is a garbage value</string>
   <key>category</key><string>Logic error</string>
   <key>type</key><string>Result of operation is garbage or undefined</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>DrawBitmapedText</string>
  <key>issue_hash</key><string>55</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>69</integer>
   <key>col</key><integer>60</integer>
   <key>file</key><integer>0</integer>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>79</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>79</integer>
           <key>col</key><integer>4</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>81</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>81</integer>
           <key>col</key><integer>12</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>81</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>81</integer>
           <key>col</key><integer>12</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>82</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>82</integer>
           <key>col</key><integer>8</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>key_event</key><true/>
     <key>location</key>
     <dict>
      <key>line</key><integer>82</integer>
      <key>col</key><integer>5</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>82</integer>
         <key>col</key><integer>5</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>82</integer>
         <key>col</key><integer>17</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Calling &apos;WDL_String::Set&apos;</string>
     <key>message</key>
     <string>Calling &apos;WDL_String::Set&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>112</integer>
      <key>col</key><integer>5</integer>
      <key>file</key><integer>1</integer>
     </dict>
     <key>depth</key><integer>1</integer>
     <key>extended_message</key>
     <string>Entered call from &apos;IBitmapTextControl::SetTextFromPlug&apos;</string>
     <key>message</key>
     <string>Entered call from &apos;IBitmapTextControl::SetTextFromPlug&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>112</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>112</integer>
           <key>col</key><integer>8</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>114</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>114</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>114</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>114</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>118</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>118</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>118</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>118</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>120</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>120</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>120</integer>
      <key>col</key><integer>7</integer>
      <key>file</key><integer>1</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>120</integer>
         <key>col</key><integer>7</integer>
         <key>file</key><integer>1</integer>
        </dict>
        <dict>
         <key>line</key><integer>120</integer>
         <key>col</key><integer>24</integer>
         <key>file</key><integer>1</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>1</integer>
     <key>extended_message</key>
     <string>Calling &apos;WDL_String::__doSet&apos;</string>
     <key>message</key>
     <string>Calling &apos;WDL_String::__doSet&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>343</integer>
      <key>col</key><integer>5</integer>
      <key>file</key><integer>1</integer>
     </dict>
     <key>depth</key><integer>2</integer>
     <key>extended_message</key>
     <string>Entered call from &apos;WDL_String::Set&apos;</string>
     <key>message</key>
     <string>Entered call from &apos;WDL_String::Set&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>343</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>343</integer>
           <key>col</key><integer>8</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>346</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>346</integer>
           <key>col</key><integer>8</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>346</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>346</integer>
           <key>col</key><integer>8</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>346</integer>
           <key>col</key><integer>11</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>346</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>346</integer>
      <key>col</key><integer>11</integer>
      <key>file</key><integer>1</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>346</integer>
         <key>col</key><integer>11</integer>
         <key>file</key><integer>1</integer>
        </dict>
        <dict>
         <key>line</key><integer>346</integer>
         <key>col</key><integer>16</integer>
         <key>file</key><integer>1</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>2</integer>
     <key>extended_message</key>
     <string>Assuming &apos;len&apos; is not equal to 0</string>
     <key>message</key>
     <string>Assuming &apos;len&apos; is not equal to 0</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>346</integer>
           <key>col</key><integer>11</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>346</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>355</integer>
           <key>col</key><integer>12</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>355</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>355</integer>
           <key>col</key><integer>12</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>355</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>355</integer>
           <key>col</key><integer>16</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>355</integer>
           <key>col</key><integer>18</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>355</integer>
           <key>col</key><integer>16</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>355</integer>
           <key>col</key><integer>18</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>357</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>357</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>357</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>357</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>359</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>359</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>359</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>359</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>368</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>368</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>368</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>368</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>370</integer>
           <key>col</key><integer>11</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>370</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>370</integer>
           <key>col</key><integer>11</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>370</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>372</integer>
           <key>col</key><integer>20</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>372</integer>
           <key>col</key><integer>26</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>372</integer>
      <key>col</key><integer>20</integer>
      <key>file</key><integer>1</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>372</integer>
         <key>col</key><integer>28</integer>
         <key>file</key><integer>1</integer>
        </dict>
        <dict>
         <key>line</key><integer>372</integer>
         <key>col</key><integer>38</integer>
         <key>file</key><integer>1</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>2</integer>
     <key>extended_message</key>
     <string>Null pointer argument in call to memory copy function</string>
     <key>message</key>
     <string>Null pointer argument in call to memory copy function</string>
    </dict>
   </array>
   <key>description</key><string>Null pointer argument in call to memory copy function (within a call to &apos;Set&apos;)</string>
   <key>category</key><string>Logic error</string>
   <key>type</key><string>Unix API</string>
  <key>issue_context_kind</key><string>C++ method</string>
  <key>issue_context</key><string>SetTextFromPlug</string>
  <key>issue_hash</key><string>4</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>82</integer>
   <key>col</key><integer>5</integer>
   <key>file</key><integer>0</integer>
  </dict>
  </dict>
 </array>
</dict>
</plist>