<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>clang_version</key>
<string>Apple LLVM version 7.0.2 (clang-700.1.81)</string>
 <key>files</key>
 <array>
  <string>/Users/michael/PluginDev/wdl-ol-michaeldonovan/WDL/IPlug/IGraphics.cpp</string>
  <string>/Users/michael/PluginDev/wdl-ol-michaeldonovan/IPlugExamples/EECS352-Multiband-Distortion-Plugin/../../WDL/IPlug/IControl.h</string>
  <string>/Users/michael/PluginDev/wdl-ol-michaeldonovan/IPlugExamples/EECS352-Multiband-Distortion-Plugin/../../WDL/IPlug/../wdlstring.h</string>
 </array>
 <key>diagnostics</key>
 <array>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>360</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>360</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>15</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>15</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>362</integer>
      <key>col</key><integer>15</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>362</integer>
         <key>col</key><integer>15</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>362</integer>
         <key>col</key><integer>19</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Assuming &apos;i&apos; is &lt; &apos;n&apos;</string>
     <key>message</key>
     <string>Assuming &apos;i&apos; is &lt; &apos;n&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>362</integer>
      <key>col</key><integer>15</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>362</integer>
         <key>col</key><integer>15</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>362</integer>
         <key>col</key><integer>19</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Entering loop body</string>
     <key>message</key>
     <string>Entering loop body</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>15</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>15</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>364</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>364</integer>
           <key>col</key><integer>12</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>364</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>364</integer>
           <key>col</key><integer>12</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>365</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>365</integer>
           <key>col</key><integer>6</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>365</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>365</integer>
           <key>col</key><integer>6</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>22</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>23</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>22</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>23</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>369</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>369</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>369</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>369</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>362</integer>
      <key>col</key><integer>3</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>362</integer>
         <key>col</key><integer>3</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>362</integer>
         <key>col</key><integer>5</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Looping back to the head of the loop</string>
     <key>message</key>
     <string>Looping back to the head of the loop</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>15</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>15</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>362</integer>
      <key>col</key><integer>15</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>362</integer>
         <key>col</key><integer>15</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>362</integer>
         <key>col</key><integer>19</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Assuming &apos;i&apos; is &lt; &apos;n&apos;</string>
     <key>message</key>
     <string>Assuming &apos;i&apos; is &lt; &apos;n&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>362</integer>
      <key>col</key><integer>15</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>362</integer>
         <key>col</key><integer>15</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>362</integer>
         <key>col</key><integer>19</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Entering loop body</string>
     <key>message</key>
     <string>Entering loop body</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>15</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>15</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>364</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>364</integer>
           <key>col</key><integer>12</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>364</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>364</integer>
           <key>col</key><integer>12</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>365</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>365</integer>
           <key>col</key><integer>6</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>365</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>365</integer>
           <key>col</key><integer>6</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>22</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>23</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>22</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>23</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>369</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>369</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>369</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>369</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>362</integer>
      <key>col</key><integer>3</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>362</integer>
         <key>col</key><integer>3</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>362</integer>
         <key>col</key><integer>5</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Looping back to the head of the loop</string>
     <key>message</key>
     <string>Looping back to the head of the loop</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>15</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>15</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>362</integer>
      <key>col</key><integer>15</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>362</integer>
         <key>col</key><integer>15</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>362</integer>
         <key>col</key><integer>19</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Assuming &apos;i&apos; is &lt; &apos;n&apos;</string>
     <key>message</key>
     <string>Assuming &apos;i&apos; is &lt; &apos;n&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>362</integer>
      <key>col</key><integer>15</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>362</integer>
         <key>col</key><integer>15</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>362</integer>
         <key>col</key><integer>19</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Entering loop body</string>
     <key>message</key>
     <string>Entering loop body</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>15</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>362</integer>
           <key>col</key><integer>15</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>364</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>364</integer>
           <key>col</key><integer>12</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>364</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>364</integer>
           <key>col</key><integer>12</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>365</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>365</integer>
           <key>col</key><integer>6</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>365</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>365</integer>
           <key>col</key><integer>6</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>367</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>367</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>key_event</key><true/>
     <key>location</key>
     <dict>
      <key>line</key><integer>367</integer>
      <key>col</key><integer>7</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>367</integer>
         <key>col</key><integer>7</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>367</integer>
         <key>col</key><integer>66</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Calling &apos;IControl::SetTooltip&apos;</string>
     <key>message</key>
     <string>Calling &apos;IControl::SetTooltip&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>51</integer>
      <key>col</key><integer>3</integer>
      <key>file</key><integer>1</integer>
     </dict>
     <key>depth</key><integer>1</integer>
     <key>extended_message</key>
     <string>Entered call from &apos;IGraphics::AssignParamNameToolTips&apos;</string>
     <key>message</key>
     <string>Entered call from &apos;IGraphics::AssignParamNameToolTips&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>51</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>51</integer>
           <key>col</key><integer>8</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>51</integer>
           <key>col</key><integer>49</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>51</integer>
           <key>col</key><integer>56</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>51</integer>
      <key>col</key><integer>49</integer>
      <key>file</key><integer>1</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>51</integer>
         <key>col</key><integer>49</integer>
         <key>file</key><integer>1</integer>
        </dict>
        <dict>
         <key>line</key><integer>51</integer>
         <key>col</key><integer>69</integer>
         <key>file</key><integer>1</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>1</integer>
     <key>extended_message</key>
     <string>Calling &apos;WDL_String::Set&apos;</string>
     <key>message</key>
     <string>Calling &apos;WDL_String::Set&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>112</integer>
      <key>col</key><integer>5</integer>
      <key>file</key><integer>2</integer>
     </dict>
     <key>depth</key><integer>2</integer>
     <key>extended_message</key>
     <string>Entered call from &apos;IControl::SetTooltip&apos;</string>
     <key>message</key>
     <string>Entered call from &apos;IControl::SetTooltip&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>112</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>112</integer>
           <key>col</key><integer>8</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>114</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>114</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>114</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>114</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>115</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>115</integer>
           <key>col</key><integer>8</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>115</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>115</integer>
           <key>col</key><integer>8</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>115</integer>
           <key>col</key><integer>11</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>115</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>115</integer>
      <key>col</key><integer>11</integer>
      <key>file</key><integer>2</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>115</integer>
         <key>col</key><integer>11</integer>
         <key>file</key><integer>2</integer>
        </dict>
        <dict>
         <key>line</key><integer>115</integer>
         <key>col</key><integer>13</integer>
         <key>file</key><integer>2</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>2</integer>
     <key>extended_message</key>
     <string>Assuming &apos;str&apos; is non-null</string>
     <key>message</key>
     <string>Assuming &apos;str&apos; is non-null</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>115</integer>
           <key>col</key><integer>11</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>115</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>118</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>118</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>118</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>118</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>120</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>120</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>120</integer>
      <key>col</key><integer>7</integer>
      <key>file</key><integer>2</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>120</integer>
         <key>col</key><integer>7</integer>
         <key>file</key><integer>2</integer>
        </dict>
        <dict>
         <key>line</key><integer>120</integer>
         <key>col</key><integer>24</integer>
         <key>file</key><integer>2</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>2</integer>
     <key>extended_message</key>
     <string>Calling &apos;WDL_String::__doSet&apos;</string>
     <key>message</key>
     <string>Calling &apos;WDL_String::__doSet&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>343</integer>
      <key>col</key><integer>5</integer>
      <key>file</key><integer>2</integer>
     </dict>
     <key>depth</key><integer>3</integer>
     <key>extended_message</key>
     <string>Entered call from &apos;WDL_String::Set&apos;</string>
     <key>message</key>
     <string>Entered call from &apos;WDL_String::Set&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>343</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>343</integer>
           <key>col</key><integer>8</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>346</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>346</integer>
           <key>col</key><integer>8</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>346</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>346</integer>
           <key>col</key><integer>8</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>346</integer>
           <key>col</key><integer>11</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>346</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>346</integer>
      <key>col</key><integer>11</integer>
      <key>file</key><integer>2</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>346</integer>
         <key>col</key><integer>11</integer>
         <key>file</key><integer>2</integer>
        </dict>
        <dict>
         <key>line</key><integer>346</integer>
         <key>col</key><integer>16</integer>
         <key>file</key><integer>2</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>3</integer>
     <key>extended_message</key>
     <string>Assuming &apos;len&apos; is not equal to 0</string>
     <key>message</key>
     <string>Assuming &apos;len&apos; is not equal to 0</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>346</integer>
           <key>col</key><integer>11</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>346</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>355</integer>
           <key>col</key><integer>12</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>355</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>355</integer>
           <key>col</key><integer>12</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>355</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>355</integer>
           <key>col</key><integer>16</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>355</integer>
           <key>col</key><integer>18</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>355</integer>
           <key>col</key><integer>16</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>355</integer>
           <key>col</key><integer>18</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>357</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>357</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>357</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>357</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>359</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>359</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>359</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>359</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>368</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>368</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>368</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>368</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>370</integer>
           <key>col</key><integer>11</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>370</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>370</integer>
           <key>col</key><integer>11</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>370</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>372</integer>
           <key>col</key><integer>20</integer>
           <key>file</key><integer>2</integer>
          </dict>
          <dict>
           <key>line</key><integer>372</integer>
           <key>col</key><integer>26</integer>
           <key>file</key><integer>2</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>372</integer>
      <key>col</key><integer>20</integer>
      <key>file</key><integer>2</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>372</integer>
         <key>col</key><integer>28</integer>
         <key>file</key><integer>2</integer>
        </dict>
        <dict>
         <key>line</key><integer>372</integer>
         <key>col</key><integer>38</integer>
         <key>file</key><integer>2</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>3</integer>
     <key>extended_message</key>
     <string>Null pointer argument in call to memory copy function</string>
     <key>message</key>
     <string>Null pointer argument in call to memory copy function</string>
    </dict>
   </array>
   <key>description</key><string>Null pointer argument in call to memory copy function (within a call to &apos;SetTooltip&apos;)</string>
   <key>category</key><string>Logic error</string>
   <key>type</key><string>Unix API</string>
  <key>issue_context_kind</key><string>C++ method</string>
  <key>issue_context</key><string>AssignParamNameToolTips</string>
  <key>issue_hash</key><string>8</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>367</integer>
   <key>col</key><integer>7</integer>
   <key>file</key><integer>0</integer>
  </dict>
  </dict>
 </array>
</dict>
</plist>