<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>clang_version</key>
<string>Apple LLVM version 7.0.2 (clang-700.1.81)</string>
 <key>files</key>
 <array>
  <string>/Users/michael/PluginDev/wdl-ol-michaeldonovan/WDL/IPlug/Log.cpp</string>
  <string>/Users/michael/PluginDev/wdl-ol-michaeldonovan/IPlugExamples/EECS352-Multiband-Distortion-Plugin/../../WDL/IPlug/../wdlstring.h</string>
 </array>
 <key>diagnostics</key>
 <array>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>169</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>169</integer>
           <key>col</key><integer>8</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>174</integer>
           <key>col</key><integer>3</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>174</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>key_event</key><true/>
     <key>location</key>
     <dict>
      <key>line</key><integer>174</integer>
      <key>col</key><integer>3</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>174</integer>
         <key>col</key><integer>3</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>174</integer>
         <key>col</key><integer>24</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Calling &apos;WDL_String::Append&apos;</string>
     <key>message</key>
     <string>Calling &apos;WDL_String::Append&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>135</integer>
      <key>col</key><integer>5</integer>
      <key>file</key><integer>1</integer>
     </dict>
     <key>depth</key><integer>1</integer>
     <key>extended_message</key>
     <string>Entered call from &apos;AppendTimestamp&apos;</string>
     <key>message</key>
     <string>Entered call from &apos;AppendTimestamp&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>135</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>135</integer>
           <key>col</key><integer>8</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>137</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>137</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>137</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>137</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>141</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>141</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>141</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>141</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>144</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>144</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>144</integer>
      <key>col</key><integer>7</integer>
      <key>file</key><integer>1</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>144</integer>
         <key>col</key><integer>7</integer>
         <key>file</key><integer>1</integer>
        </dict>
        <dict>
         <key>line</key><integer>144</integer>
         <key>col</key><integer>34</integer>
         <key>file</key><integer>1</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>1</integer>
     <key>extended_message</key>
     <string>Calling &apos;WDL_String::__doSet&apos;</string>
     <key>message</key>
     <string>Calling &apos;WDL_String::__doSet&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>343</integer>
      <key>col</key><integer>5</integer>
      <key>file</key><integer>1</integer>
     </dict>
     <key>depth</key><integer>2</integer>
     <key>extended_message</key>
     <string>Entered call from &apos;WDL_String::Append&apos;</string>
     <key>message</key>
     <string>Entered call from &apos;WDL_String::Append&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>343</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>343</integer>
           <key>col</key><integer>8</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>346</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>346</integer>
           <key>col</key><integer>8</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>346</integer>
           <key>col</key><integer>7</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>346</integer>
           <key>col</key><integer>8</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>346</integer>
           <key>col</key><integer>11</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>346</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>346</integer>
      <key>col</key><integer>11</integer>
      <key>file</key><integer>1</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>346</integer>
         <key>col</key><integer>11</integer>
         <key>file</key><integer>1</integer>
        </dict>
        <dict>
         <key>line</key><integer>346</integer>
         <key>col</key><integer>16</integer>
         <key>file</key><integer>1</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>2</integer>
     <key>extended_message</key>
     <string>Assuming &apos;len&apos; is not equal to 0</string>
     <key>message</key>
     <string>Assuming &apos;len&apos; is not equal to 0</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>346</integer>
           <key>col</key><integer>11</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>346</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>355</integer>
           <key>col</key><integer>12</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>355</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>355</integer>
           <key>col</key><integer>12</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>355</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>355</integer>
           <key>col</key><integer>16</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>355</integer>
           <key>col</key><integer>18</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>355</integer>
           <key>col</key><integer>16</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>355</integer>
           <key>col</key><integer>18</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>357</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>357</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>357</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>357</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>359</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>359</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>359</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>359</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>359</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>359</integer>
           <key>col</key><integer>17</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>359</integer>
      <key>col</key><integer>13</integer>
      <key>file</key><integer>1</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>359</integer>
         <key>col</key><integer>13</integer>
         <key>file</key><integer>1</integer>
        </dict>
        <dict>
         <key>line</key><integer>359</integer>
         <key>col</key><integer>25</integer>
         <key>file</key><integer>1</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>2</integer>
     <key>extended_message</key>
     <string>Assuming &apos;oldsz&apos; is &gt;= &apos;newsz&apos;</string>
     <key>message</key>
     <string>Assuming &apos;oldsz&apos; is &gt;= &apos;newsz&apos;</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>359</integer>
           <key>col</key><integer>13</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>359</integer>
           <key>col</key><integer>17</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>368</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>368</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>368</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>368</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>370</integer>
           <key>col</key><integer>11</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>370</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>370</integer>
           <key>col</key><integer>11</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>370</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>372</integer>
           <key>col</key><integer>20</integer>
           <key>file</key><integer>1</integer>
          </dict>
          <dict>
           <key>line</key><integer>372</integer>
           <key>col</key><integer>26</integer>
           <key>file</key><integer>1</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>372</integer>
      <key>col</key><integer>20</integer>
      <key>file</key><integer>1</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>372</integer>
         <key>col</key><integer>28</integer>
         <key>file</key><integer>1</integer>
        </dict>
        <dict>
         <key>line</key><integer>372</integer>
         <key>col</key><integer>38</integer>
         <key>file</key><integer>1</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>2</integer>
     <key>extended_message</key>
     <string>Null pointer argument in call to memory copy function</string>
     <key>message</key>
     <string>Null pointer argument in call to memory copy function</string>
    </dict>
   </array>
   <key>description</key><string>Null pointer argument in call to memory copy function (within a call to &apos;Append&apos;)</string>
   <key>category</key><string>Logic error</string>
   <key>type</key><string>Unix API</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>AppendTimestamp</string>
  <key>issue_hash</key><string>6</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>174</integer>
   <key>col</key><integer>3</integer>
   <key>file</key><integer>0</integer>
  </dict>
  </dict>
 </array>
</dict>
</plist>